html, body, #wrapper, .container-fluid, .row, #page-content-wrapper, #map {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

li {
    color: white;
    cursor: pointer;
    padding-left: 5px;
}

#map {
    width: 115%;
}

.floating-panel {
    position: absolute;
    z-index: 5;
    background-color: #fff;
    margin: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
}

.search-box {
    color: black;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 240px;
    line-height: 30px;
}

#filter-box {
    position: absolute;
    margin-top: 60px;
}

hr {
    width: 95%;
}

.w3-dropdown-content {
    position: absolute;
    margin-top: 105px;
}

.filtering {
    background-color: limegreen;
}


