html, body, #wrapper, .container-fluid, .row, #page-content-wrapper, #map {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

li {
    color: white;
    cursor: pointer;
}

#map {
    width: 115%;
}

.floating-panel {
    position: absolute;
    top: 10px;
    /*left: 25%;*/
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

.search-box {
    color: black;
    margin-top: 15px;
}

.pushButtonLeft {
    right:130px;
}

